<h1 class="mb-4">New User Account</h1>

<form action="/users" method="post">
  <p class="mb-3">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </p>
  <p class="mb-3">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>
  <p class="mb-3">
    <label for="password">Password</label>
    <input type="password" name="password" id="password_input">
  </p>
  <button>Signup</button>
</form>
